*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Asap', sans-serif;
    font-size: 1.4rem;
    background-color: #f9f8f8;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 117rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    overflow: hidden;
}

.page__first {
    background: url('images/bg_element.png') no-repeat center/cover;
    width: 100%;

}

.page__section {
    padding: 0 6rem;
}

.page__header {
    padding: 4rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo__image {
    padding-bottom: .5rem;
    width: 2.4rem;
    height: 2.4rem;
}

.logo__image-pic {
    width: 100%;
}

.logo__title {
    font-family: 'Lato', sans-serif;
}

.logo__main-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: 2.4px;
}

.logo__second-title {
    font-size: .8rem;
    letter-spacing: 2.04px;
}

.header__menu {
    width: 50%;
    margin-right: 2%;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__list-link {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: text-decoration 5s;

}

.header__list-link:hover {
    text-decoration: underline;
}

.about__section {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about__info {
    width: 40%;
}

.about__text {
    margin-bottom: 10px;
}

.about__image {
    width: 70%;
}

.about__picture {
    width: 100%;
}

.about__main-title {
    font-size: 4.8rem;
    font-weight: bold;
    color: #4d4d4d;
}

.about__add-title {
    font-size: 2.2rem;
    color: #4d4d4d;
    opacity: 0.54;
    font-weight: 500;

}

.btn {
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    padding: 1rem;
    vertical-align: middle;

}

.btn-know {
    background-color: #fff;
    color: #4d4d4d;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem 2.9rem 1.8rem 3rem;
    margin-right: 2rem;
    box-shadow: 0 1.8rem 2.7rem 2px rgba(0, 0, 0, 0.1);
}

.btn-trans {
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.7rem 4.5rem;
}

/* Info Section */

.page__info {
    background-color: #fff;
    padding-top: 9rem;
    padding-bottom: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.page__info-text {
    width: 40%;
}

.page__info-picture {
    width: 40%;
}

.info__image {
    width: 100%;
}

.page__title::before {
    content: '';
    width: 5rem;
    height: 4px;
    background-color: #212121;
    display: block;
    margin-bottom: 2rem;
}

.page__title {
    font-size: 3.6rem;
    font-weight: bolder;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: #4d4d4d;
    opacity: 0.8;
    letter-spacing: 4px;
    margin-bottom: 5px;
}

.info__desc {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-bottom: 2.5rem;
}

/* Services Section */

.page__services {
    padding-top: 9rem;
    padding-bottom: 9rem;
    background-color: #f6f6f6;
}

.section__title {
    font-size: 3.6rem;
    font-weight: bolder;
    line-height: 3.5rem;
    text-transform: uppercase;
    color: #4d4d4d;
    opacity: 0.8;
    letter-spacing: 4px;
    margin-bottom: 5px;
    text-align: center;
}

.section__title::before {
    content: '';
    width: 5rem;
    height: 5px;
    background-color: #212121;
    display: block;
    margin: 0 auto 2rem;
}

.services__list {
    margin-top: 4rem;
}

.portfolio__list {
    margin-top: 3rem;
}
.services__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31%;
}
.services__icon {
    width: 7.7rem;
    height: 7.7rem;
}

.services__icon-pic {
    width: 100%;
    height: 100%;
}

.services__item-title {
    font-size: 2rem;
    color: #4d4d4d;
    font-weight: 500;
}

.section__spacing {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.page__skills {
    background-color: #fff;
}

.skills__graph {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 4rem;
}

.skills__image {
    width: 94.9rem;
}

.skills__image-pic {
    width: 100%;
    height: 100%;
}

.skills__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}

.skills__icon {
    width: 25%;
}

/* Portfolio section */
.portfolio__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.portfolio__item {
    width: 31%;
}

.portfolio__image {
    width: 100%;
}

.page__testimonials {
    background-color: #fff;
}

.testimonials__info {
    border: 1px solid #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 2rem;
    margin-top: 3rem;
}

.testimonials_info-about {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.testimonials__info-image {
    width: 20%;
    height: 13rem;
}

.testimonial__info-pic {
    width: 100%;
    height: 100%;
}

.testimonials__text {
    width: 75%;
    color: #212121;
}

.testimonials__text-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.testimonials__text-subtitle {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-style: italic;
}

.testimonials__text-paragraph {
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 2.2rem;
    opacity: 0.6;
}

.testimonials__squares {
    display: flex;
    justify-content: space-between;
    width: 4%;
    margin-top: 4rem;
}

.testimonials__square {
    border: 1px solid #212121;
    width: 1rem;
    height: 1rem;
}

.square__black {
    background-color: #212121;
}

.features__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__icon {
    width: 7.8rem;
    height: 7.8rem;
    margin-bottom: 15px;
}

.features__image {
    width: 100%;
    height: 100%;
}

.features__number {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.features__title {
    text-transform: uppercase;
}

.section__form {
    background: url(images/contact_bg.png) no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title-white {
    color: #ffffff;
    font-size: 3.6rem;
    font-weight: bolder;
    line-height: 3.5rem;
    text-transform: uppercase;
    opacity: 0.8;
    letter-spacing: 4px;
    margin-bottom: 5px;
    text-align: center;
}

.section__title-white::before {
    content: '';
    width: 5rem;
    height: 5px;
    background-color: #ffffff;
    display: block;
    margin: 0 auto 2rem;
}

.page__form {
    width: 70%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

}

.form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.form__group {
    width: 48%;
}

.form__label {
    display: none;
    position: absolute;
    top: 0;
    z-index: -1;
}

.form__control {
    display: block;
    width: 100%;
    outline: none;
    background-color: #fff;
    border: none;
    padding: 15px;
    font-size: 1.4rem;
    font-family: inherit;
    color: #212121;
    font-weight: bold;
}

.form__textarea {
    width: 100%;

}

.form__text {
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: #212121;
    font-weight: bold;
}

.form__action {
    align-self: center;
}

.form_submit {
    background-color: #ffffff;
    box-shadow: 0 1.8rem 2.7rem 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 1rem 2.8rem;
    margin-top: 3rem;

}

.page__footer {
    border-top: 1px solid #ffffff;
    width: 100%;
    margin-top: 5.8rem;
    padding: 3rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.footer__copyright {
    width: 58%;
    color: #ffffff;
    font-size: 1.6rem;
}


/* Mobile and Laptop Styles */

@media screen and (max-width: 992px) {
    html {
        font-size: 50%;
    }

    .about__info {
        width: 60%;
    }

    .services__icon {
        margin-bottom: 5px;
    }

    .testimonials__text-subtitle {
        margin-bottom: 5px;
    }

    .footer__links {
        width: 31%;
    }

    .footer__copyright {
        width: 63%;
    }

    .testimonials__squares {
        width: 6%;
    }

    .testimonials_info-about {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 38%;
    }
    .container {
        padding: 0 2rem;
    }

    .btn-know {
        padding: 1.5rem 2rem;
    }

    .btn-trans {
        padding: 1.5rem 4rem;
    }

    .skills__graph {
        margin-bottom: 2rem;
    }

    .btn {
        font-size: 1.4rem;
    }
}
