*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    background-color: #f9f8f8;
    margin: 0;
    padding: 0;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0%;
}

.container {
    max-width: 1170px;
    width: 1170px;
    margin: 0 auto;
    padding: 0 40px;
}

.page__first {
    background: url('images/bg_element.png') no-repeat center/cover;
    width: 100%;
    max-height: 100vh;

}

.page__section {
    padding: 0 60px;
}

.page__header {
    padding: 40px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo__image {
    padding-bottom: 5px;
    width: 24px;
    height: 24px;
}

.logo__image-pic {
    width: 100%;
}

.logo__title {
    font-family: 'Lato', sans-serif;
}

.logo__main-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2.4px;
}

.logo__second-title {
    font-size: 8px;
    letter-spacing: 2.04px;
}

.header__menu {
    width: 50%;
    margin-right: 2%;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__list-link {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: text-decoration 5s;

}

.header__list-link:hover {
    text-decoration: underline;
}

.about__section {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about__info {
    width: 40%;
}

.about__text {
    margin-bottom: 10px;
}

.about__image {
    width: 70%;
}

.about__picture {
    width: 100%;
}

.about__main-title {
    font-size: 48px;
    font-weight: bold;
    color: #4d4d4d;
}

.about__add-title {
    font-size: 22px;
    color: #4d4d4d;
    opacity: 0.54;
    font-weight: 500;

}

.btn {
    display: inline-block;
    background: transparent;
    outline: none;
    border: none;
    padding: 10px;
    vertical-align: middle;

}

.btn-know {
    background-color: #fff;
    color: #4d4d4d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 29px 18px 30px;
    margin-right: 20px;
    box-shadow: 0 18px 27px 2px rgba(0, 0, 0, 0.1);
}

.btn-trans {
    border: 1px solid #4d4d4d;
    color: #4d4d4d;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 17px 45px;
}

/* Info Section */

.page__info {
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.page__info-text {
    width: 40%;
}

.page__info-picture {
    width: 40%;
}

.info__image {
    width: 100%;
}

.page__title::before {
    content: '';
    width: 50px;
    height: 4px;
    background-color: #212121;
    display: block;
    margin-bottom: 20px;
}

.page__title {
    font-size: 36px;
    font-weight: bolder;
    line-height: 35px;
    text-transform: uppercase;
    color: #4d4d4d;
    opacity: 0.8;
    letter-spacing: 4px;
    margin-bottom: 5px;
}

.info__desc {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 25px;
}

/* Services Section */

.page__services {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f6f6f6;
}

.section__title {
    font-size: 36px;
    font-weight: bolder;
    line-height: 35px;
    text-transform: uppercase;
    color: #4d4d4d;
    opacity: 0.8;
    letter-spacing: 4px;
    margin-bottom: 5px;
    text-align: center;
}

.section__title::before {
    content: '';
    width: 50px;
    height: 5px;
    background-color: #212121;
    display: block;
    margin: 0 auto 20px;
}

.services__list {
    margin-top: 40px;
}

.portfolio__list {
    margin-top: 30px;
}
.services__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 31%;
}
.services__icon {
    width: 77px;
    height: 77px;
}

.services__icon-pic {
    width: 100%;
    height: 100%;
}

.services__item-title {
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 500;
}

.section__spacing {
    padding-top: 90px;
    padding-bottom: 90px;
}

.page__skills {
    background-color: #fff;
}

.skills__graph {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 40px;
}

.skills__image {
    width: 949px;
    height: 336px;
}

.skills__image-pic {
    width: 100%;
    height: 100%;
}

.skills__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

}

.skills__icon {
    width: 25%;
}

/* Portfolio section */
.portfolio__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.portfolio__item {
    width: 31%;
}

.portfolio__image {
    width: 100%;
}

.page__testimonials {
    background-color: #fff;
}

.testimonials__info {
    border: 1px solid #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
    margin-top: 30px;
}

.testimonials_info-about {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.testimonials__info-image {
    width: 20%;
    height: 130px;
}

.testimonial__info-pic {
    width: 100%;
    height: 100%;
}

.testimonials__text {
    width: 75%;
    color: #212121;
}

.testimonials__text-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.testimonials__text-subtitle {
    text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
}

.testimonials__text-paragraph {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 22px;
    opacity: 0.6;
}

.testimonials__squares {
    display: flex;
    justify-content: space-between;
    width: 4%;
    margin-top: 40px;
}

.testimonials__square {
    border: 1px solid #212121;
    width: 10px;
    height: 10px;
}

.square__black {
    background-color: #212121;
}